# yaml-language-server: $schema=https://www.schemastore.org/dependabot-2.0.json
version: 2
updates:
  - package-ecosystem: devcontainers
    directory: /
    schedule:
      interval: weekly
    reviewers: [andreilgeorgescu]
    groups:
      devcontainers-dependencies:
        patterns:
          - "*"
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    reviewers: [andreilgeorgescu]
    groups:
      github-actions-dependencies:
        patterns:
          - "*"
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    reviewers: [andreilgeorgescu]
    groups:
      npm-dependencies:
        patterns:
          - "*"
